.PokeDex {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.PokeDex-winner {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: green;
}
.PokeDex-loser {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(194, 76, 76);
}
.PokeDex-exp {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
}