@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
* {
  font-family: 'Karla', sans-serif;
}
.PokeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 15.5vw;
  margin: 0.5vh 3vw;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  height: 30vh;
  border-radius: 5px;
  transition: 0.2s linear;
}
.PokeCard-Name {
  width: 100%;
  text-align: center;
  padding: 2vh 0;
  font-size: 1.2rem;
  margin: 0;
}
.PokeCard-Type {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.PokeCard-points {
  width: 100%;
  text-align: center;
  padding: 2vh 0;
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 0;
}
.PokeCard-Image {
  width: 70%;
  transition: 0.3s linear;
}
.PokeCard-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  border-radius: 5px;
  width: 90%;
  height: 50%;
  background: rgba(110, 110, 110, 0.123);
}
.PokeCard:hover .PokeCard-Image{
  width: 90%;
}
.PokeCard:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}